<html lang="en">
    
    <head>
        <title><%= pageTitle %></title>
        <style>
            * {
                font-family: 'Times New Roman', serif;
            }
            h1 {
                text-align: center;
            }
            table {
                border-collapse: collapse;
                table-layout: fixed;
                font-family: 'Times New Roman', serif;
                font-size: 12px;
                text-align: center;
                width: 100%;
            }
            th, td {
                border: 1px solid;
                text-align: left;
                padding-top: 0;
                padding-bottom: 0;
                word-wrap: break-word;
                overflow: hidden;
            }
            #ScheduleHeading {
                text-align: center;
                padding-left: 550px;
                padding-top: 0;
                padding-bottom: 0;
            }
            #Logo {
                alignment: left;
                vertical-align: top;
                width: 20%;
                height: 10%;
                padding-top: 0;
                padding-bottom: 0;
            }
            #InfoBanner {
                text-align: left;
                padding-left: 50px;
            }
            #WeekStarting {
                text-align: left;
                padding-left: 100px;
            }
            #doctorInfo {
                text-align: center;
            }
        </style>
    </head>

    <body>

        <h1 id="ScheduleHeading"><%= scheduleHeading %></h1>
        <img id="Logo" src="/nelanest.png">
        <h2 id="InfoBanner">Suite 102, Sonheuwel Rooms, Nelspruit Mediclinic, Phone (013 745 7082) Email: nelanest@telkomsa.net</h2>
        <h2 id="WeekStarting"><%= weekStarting %></h2>

        <table style="width: 70%" id="datatable">
            <%- tableData %>
        </table>
        
        </br>

        <table id="doctorInfo" style="width:70%">

            <%- doctorInfo %>

        </table>

    </body>
</html>